header {
  background-color: rgb(230, 230, 230);
  margin-bottom: 5rem;
}

.navbar {
  ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
  }

  a,
  a:visited {
    text-decoration: none;
    color: black;
  }

  a.active {
    font-weight: 500;
    color: dodgerblue;
  }
}